@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Edit</h3>
@Form.ValidatorScripts()
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    //todo refactor
    if (@TempData.Keys.Count != 0) { 
    <div class="error">
        @TempData["Error"]
    </div>
    }
     @Form.HiddenID(Model.CategoryData.ID)
    @Form.RenderCreateOrEditCategories(Model)
}




