@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@Html.ActionLink("Comments", "Index", "Comments") > Create</h3>
@Form.ValidatorScripts()
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    //todo refactor
    if (@TempData.Keys.Count != 0) { 
    <div class="error">
        @TempData["Error"]
    </div>
    }
    
    @Form.RenderCreateOrEditComments(Model)
}


