<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@Page.Title</title>

	@Assets.jQuery(true)

	@Assets.CSS("style.css")

	@*@Assets.Script("shortcodes.js?ver=1")*@

	@Assets.Script("superfish.js?ver=3.2.1")
	@Assets.Script("menu.js?ver=3.2.1")
	@Assets.Script("general.js?ver=3.2.1")
	@Assets.Script("slides.min.jquery.js?ver=3.2.1")

	<link href="http://fonts.googleapis.com/css?family=PT+Sans:r,b,i,bi" rel="stylesheet" type="text/css" />

	<!-- Woo Custom Typography -->
	<style type="text/css">
		h1, h2, h3, h4, h5, h6, .widget h3, .post .title, .nav a, .section .post .title, .archive_header, .site-description, #tabs-home ul.wooTabs li a
		{
			font-family: 'PT Sans' , arial, sans-serif;
		}
	</style>

	<!-- Alt Stylesheet -->
    @*@Assets.CSS("default.css")*@
    <!-- Woo Shortcodes CSS -->
    @*@Assets.CSS("shortcodes.css")*@
	<!-- Custom Stylesheet -->
    @*@Assets.CSS("custom.css")*@
</head>


<body class="home blog chrome layout-left-content">
	<div id="wrapper">
		<div id="header">
			<div id="header-top">
				<div class="col-full">
					<div id="logo">
						@Assets.ImageLink(URL.SiteRoot(), "logoPubTricks.png")
					</div>

					<div id="search-top">
						<form method="get" class="searchform" action="/search">
						<input type="text" class="field s" name="s" value="Search Videos" onfocus="if (this.value == 'Search Videos') {this.value = '';}"
							onblur="if (this.value == '') {this.value = 'Search Videos';}" />
						<input type="image" src="/public/images/btn-search.png"	class="search-submit" name="submit" value="Go" />
						</form>
						<!-- /#search-top -->
						<div class="clear">
						</div>
					</div>
				</div>
			</div>
			<!--header-->
			<div id="navigation">
				<div class="col-full">
					<ul id="tagline">
						<span class="site-description">Awesome Pub Tricks to entertain your friends!</span>
					</ul>
					<ul id="main-nav" class="nav fr">
						<li class="page_item current_page_item"><a href="http://localhost:35436">Home</a></li>
                        <li class="page_item page-item-2"><a href="http://localhost:35436/?page_id=2" title="All Videos">All Videos</a></li>
					</ul>
					<!--/#nav -->
				</div>
			</div>
			<!-- /#navigation -->
		</div>
		<!-- /#header -->

		@RenderBody()



		<div id="footer" class="col-full">
			<div id="copyright" class="col-left">
				<p>@Snippets.FooterText()</p>
			</div>
			<div id="credit" class="col-right">
				<p>Design from @Assets.ImageLink("http://www.woothemes.com", "woothemes-74x18.png")</p>
			</div>
		</div>
		<!-- /#footer  -->
	</div>
	<!-- /#wrapper -->
</body>
</html>
@*
<body>
	<div class="page">
		<header>
			<div id="title">
				<h1>PubTricks - Entertain Your Friends</h1>
			</div>
			<div id="logindisplay">
				@Html.Partial("_LogOnPartial")
			</div>
			<nav>
				<ul id="menu">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
				</ul>
			</nav>
		</header>
		<section id="main">
			@RenderBody()
		</section>
		<footer>
		</footer>
	</div>
</body>*@

