@{
    Page.Title = "PubTricks - " + @Model.TrickData.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="feat-title" class="col-full">
    <h1 class="title">@Model.TrickData.Name</h1>
</div>
<div id="feat-video" class="col-full">
    <!--breadcrumbs-->
    <div class="breadcrumb breadcrumbs woo-breadcrumbs">
        <div class="breadcrumb-trail">
            <span class="trail-before"><span class="breadcrumb-title">You are here:</span> </span>
            <a href="/" title="Home" rel="home" class="trail-begin">Home</a> <span class="sep">&raquo;</span>
            <span class="trail-end">@Model.TrickData.Name</span></div>
    </div>
    <!--video-->
    <div class="video fl">
        <div class="single-video">
            <!--online youtube-->
            @*<object style="height: 390px; width: 640px">
                <param name="movie" value="http://@Model.TrickData.VideoURL">
                <param name="allowFullScreen" value="true">
                <param name="allowScriptAccess" value="always">
                <param name="wmode" value="transparent"></param>
                <embed wmode="transparent" src="http://@Model.TrickData.VideoURL" type="application/x-shockwave-flash"
                 allowfullscreen="true" allowscriptaccess="always" width="600" height="337"></object>*@
            <!--offline compatible html5-->
            <video width="600" height="337" src="/public/videos/@Model.TrickData.VideoFileName" controls autobuffer autoplay="autoplay">
         	        <p>You must have an HTML5 capable browser.</p>
            </video>
        </div>
        <!--sharing-->
        <ul class="share">
            <li class="twitter">
                @{
                    string twitterURL = @"http://twitter.com/home?status=Watching http://www.pubtricks.co.nz/tricks/" + URL.MakeSpacesMinuses(@Model.TrickData.Name);
                    string facebookURL = @"http://www.facebook.com/sharer.php?u=http://www.pubtricks.co.nz/tricks/" + URL.MakeSpacesMinuses(@Model.TrickData.Name) + "/&t=" + @Model.TrickData.Name;
                }
                @Assets.ImageLinkFromTheme(twitterURL, "ico-share-twitter.png", "Tweet this Video ")
            </li>
            <li class="facebook-share">
                @Assets.ImageLinkFromTheme(facebookURL, "ico-share-facebook.png", "Share on Facebook")
            </li>
        </ul>
    </div>
    <!--right hand side description stuff-->
    <div class="meta fr">
        <div class="video-excerpt entry">
            <p>@Model.TrickData.Description</p>
        </div>
        <ul class="post-meta">
            <li class="post-date"><span class="small">Posted on:</span>@Dates.ShortDate(@Model.TrickData.DateCreated)</li>
            <li class="post-category"><span class="small">Likes so far:</span>@Model.TrickData.Votes</li>
            <li class="post-tags"><span class="small">Like:</span>
                <ul>
                    @{ 
                        bool displayLikeButton = true;
                        string cookieName = "Trick_" + Model.TrickData.ID.ToString();
                        if (Request.Cookies[cookieName] != null) {
                            displayLikeButton = false;
                        }
                    }
                    @if (displayLikeButton) {
                        using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        <li>@Form.Submit("Like")</li>
                        }
                    }
                    else { 
                        <li>You're liking this</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="clear">
    </div>
</div>
<!--white section underneath-->
<div id="content-wrap">
    <div id="content" class="col-full">
        <div class="col-left">
            <div id="main">
                <div class="post-11 woo_video type-woo_video status-publish hentry tag-featured tag-sean-obrien tag-woothemes post">
                    <div class="entry">
                        <p>@Model.TrickData.LongDescription</p>
                    </div>
                </div>
            </div>
            <!-- #main -->
        </div>
        <!-- /.col-left -->
        <div id="sidebar" class="col-right">
            <div class="primary">
                <div id="woo_tabs-3" class="widget widget_woo_tabs">
                    @if (Enumerable.Count(Model.TrickCategories) > 0) {     
                        <p>Categories</p>
                    }
                    else { 
                        <p>No categories selected</p>
                    }
                </div>
                 </div>
                @if (Enumerable.Count(Model.TrickCategories) > 0) {     
                    <div id="woo_tabs-3" class="widget widget_woo_tabs">
                        @foreach (var item in Model.TrickCategories) {
                            <p><b>@item.CategoryName</b></p>
                        }
                    </div>
                }
                else { }




                <div id="woo_tabs-3" class="widget widget_woo_tabs">
                    @if (Enumerable.Count(Model.TrickComments) > 0) {     
                        <p>Comments</p>
                    }
                    else { 
                        <p>@*No comments yet - email us and let us know!*@</p>
                    }
                </div>
                @if (Enumerable.Count(Model.TrickComments) > 0) {     
                    <div id="woo_tabs-3" class="widget widget_woo_tabs">
                        @foreach (var item in Model.TrickComments) {
                            <p><b>@item.CommentText</b></p>
                        }
                    </div>
                }
                else { }
            </div>
        </div>
        <!-- /#sidebar -->
    </div>
    <!-- #content -->
</div>
<br />
<br />
<!--solution-->
@if (@Model.TrickData.VideoSolutionURL != null && @Model.TrickData.VideoSolutionURL != "") { 
    <div id="feat-title" class="col-full">
        <h1 class="title">
            Solution</h1>
    </div>
    <div id="feat-video" class="col-full">
        <!--video-->
        <div class="video fl">
            <div class="single-video">
                <!--online youtube-->
                @*   <object style="height: 390px; width: 640px">
                    <param name="movie" value="http://@Model.TrickData.VideoSolutionURL">
                    <param name="allowFullScreen" value="true">
                    <param name="allowScriptAccess" value="always">
                    <param name="wmode" value="transparent"></param>
                    <embed wmode="transparent" src="http://@Model.TrickData.VideoSolutionURL" type="application/x-shockwave-flash"
                            allowfullscreen="true" allowscriptaccess="always" width="600" height="337"></object>
*@
                <!--offline compatible html5-->
                <video width="600" height="337" src="/public/videos/@Model.TrickData.VideoFileNameReveal" controls autobuffer>
         	            <p>You must have an HTML5 capable browser.</p>
                </video>
            </div>
        </div>
        <!--right hand side description stuff-->
        <div class="clear">
        </div>
    </div>
}
<!--bottom grey 4 col section-->