@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    Tricks</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            DateCreated
        </th>
        <th>
            Likes
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name
            </td>
            <td>@item.Description
            </td>
            <td>@Dates.ShortDate(@item.DateCreated)
            </td>
            <td>@item.Votes
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
