@helper CSS(string cssFile){
    <link rel="stylesheet" href="/public/stylesheets/@cssFile" type="text/css" media="screen" /> 
}

@helper Image(string imageFile) {
    <img src = "/public/images/@imageFile" />
}

@helper ImageLink(string link, string imageFile) {
    <a href="@link">
        @Assets.Image(imageFile)
    </a>
}

@helper ImageLinkFromTheme(string link, string imageFile, string textToDisplay) {
    <a href="@link">
       <img src = "/public/stylesheets/images/@imageFile" />@textToDisplay
    </a>
}

@helper jQuery(bool useGoogle = true){
    @*if (useGoogle) { 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    } else { 
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js" type="text/javascript"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.js" type="text/javascript"></script>
    }*@

    //offline mode    
    @Assets.Script("jquery/1.6.4/jquery.min.js")
    @Assets.Script("jqueryui/1.8.16/jquery-ui.min.js")
}

@helper Script(string scriptFile) {
    <script type="text/javascript" src="/public/javascripts/@scriptFile"></script>
}