@helper ValidatorScripts() {
    @Assets.Script("jquery.validate.min.js")
    @Assets.Script("jquery.validate.unobtrusive.min.js")
}

@helper ValidationMessage(string name) {
    <span class="field-validation-valid" data-valmsg-for="@name" data-valmsg-replace="true"></span>
}

@helper TextBox(string name, object value = null) {
    //if value is null, set to empty string
    var val = value ?? "";
    <p>
        <label>@name</label>
        <input type="text" name="@name" id="@name" value="@val" />
    </p>
}

@helper TextBoxDate(string name, object value = null) {
    //if value is null, set to empty string
    var val = value ?? "";
    //chop time off string if there
    string dateString = val.ToString().Trim();
    string[] dateStringBits = dateString.Split(' ');
    string datePart = dateStringBits[0];
    
    <p>
        <label>@name</label>
        <input type="text" name="@name" id="@name" value="@datePart" />
    </p>
}

@helper TextBoxRequired(string name, object value = null, string requiredMessage = "Required") {
    var val = value ?? "";
            //using HTML5 and jQuery validations
    <p>
        <label>@name *</label>
        <input type="text" name="@name" id="@name" value="@val" data-val="true" data-val-required="@requiredMessage" />
        @ValidationMessage(name)
    </p>
}

@helper TextBoxNumber(string name, object value = null, string numberMessage = "Should be a number") {
    var val = value ?? "";
            //using HTML5 and jQuery validations
    <p>
        <label>@name *</label>
        <input type="text" name="@name" id="@name" value="@val" data-val="true" data-val-number="@numberMessage" />
        @ValidationMessage(name)
    </p>
}

@helper TextBoxNumberWithDisplayName(string dbName, string displayName, object value = null, string numberMessage = "Should be a number") {
    var val = value ?? "";
            //using HTML5 and jQuery validations
    <p>
        <label>@displayName *</label>
        <input type="text" name="@dbName" id="@dbName" value="@val" data-val="true" data-val-number="@numberMessage" />
        @ValidationMessage(dbName)
    </p>
}

@helper TextArea(string name, string attributes = "", object value = null) {
    var val = value ?? "";
    <p>
        <label>@name</label>
        @*<textarea name="@name" id="@name" @attributes >@val</textarea>*@
        <textarea name="@name" id="@name">@val</textarea>

    </p>
}

@helper HiddenID(object id) {
    <input type="hidden" name="ID" id="ID" value="@id" />
}

@helper Submit(string buttonText = "Save") {
    <p>
        <button type="submit" class="button positive">
            <img src="/public/stylesheets/plugins/buttons/icons/tick.png" alt=""/>@buttonText
        </button>
    </p>
    <div class="clear"></div>
}

@helper RenderCreateOrEditTricks(dynamic Model) {
    @Form.TextBoxRequired(name: "Name", value: Model.Name, requiredMessage: "Name is required")
    @Form.TextBoxRequired(name: "Description", value: Model.Description)
    @Form.TextArea(name: "LongDescription", value: Model.LongDescription)
    @Form.TextBox(name: "VideoURL", value: Model.VideoURL)
    @Form.TextBox(name: "VideoSolutionURL", value: Model.VideoSolutionURL)
    @Form.TextBox(name: "Thumbnail", value: Model.Thumbnail)
    @Form.TextBoxDate(name: "DateCreated", value: Model.DateCreated)
    @Form.TextBoxNumberWithDisplayName(dbName: "Votes", displayName: "Likes", value: @Model.Votes,
                                            numberMessage: "Should be a number")
    @Form.Submit()
    <h3>Business Logic Enforced in Browser if possible</h3>
    <ul>
     <li>Name must not be empty</li>
     <li>Description must be be empty</li>
     <li>Like must be an int or null</li>
    </ul>
    
     <h3>Business Logic Enforced on Server in Tricks.Validator</h3>
    <ul>
        <li>As above (try turning off javascript in browser)</li>
        <li>A dupliate name is not allowed</li>
        <li>Description must be > 5 chars</li>
        <li>If DateCreated is left blank, use today</li>
        <li>Authentication and authorisation required</li>
        <li>Cross side scripting attacks enforced</li>
    </ul>
}
